manuscript/pooled_error.aux
manuscript/pooled_error.bbl
manuscript/pooled_error.blg
manuscript/pooled_error.log
manuscript/pooled_error.out
manuscript/pooled_error.dvi
manuscript/suppmat.aux
manuscript/suppmat.log
manuscript/texput.log
manuscript/*.pdf

extrasim/misc/blocked.eps
extrasim/misc/oneway.eps
extrasim/quantile/sim_schematic.pdf
extrasim/quantile/results.txt

realdata/results/
realdata/top_edgeR_ola1_sum.pdf
realdata/top_edgeR_ola2_sum.pdf

variability/power/*.eps
variability/power/*.rds
variability/error/*.eps

extrasim/quantile/with.rds
extrasim/quantile/without.rds
realdata/ESpresso/
realdata/all_scrambled.eps
reference/ESpresso
reference/results_ESpresso/
simulations/ESpresso/

submissions/biorxiv_20160907/Supp.aux
submissions/biorxiv_20160907/Supp.log
submissions/biorxiv_20160907/Supp.pdf
submissions/biorxiv_20160907/Supp.tex
submissions/biorxiv_20160907/final.aux
submissions/biorxiv_20160907/final.bbl
submissions/biorxiv_20160907/final.blg
submissions/biorxiv_20160907/final.log
submissions/biorxiv_20160907/final.out
submissions/biorxiv_20160907/final.pdf
submissions/biorxiv_20160907/final.tex
submissions/revised_20160524/pooled_error.aux
submissions/revised_20160524/pooled_error.bbl
submissions/revised_20160524/pooled_error.blg
submissions/revised_20160524/pooled_error.dvi
submissions/revised_20160524/pooled_error.log
submissions/revised_20160524/pooled_error.out

