failsim/*.eps
manuscript/pooled_error.aux
manuscript/pooled_error.bbl
manuscript/pooled_error.blg
manuscript/pooled_error.log
manuscript/pooled_error.out
manuscript/pooled_error.dvi
manuscript/suppmat.aux
manuscript/suppmat.log
manuscript/texput.log

manuscript/*.pdf

power/*.eps
power/*.rds
power/*.pdf
quantile/sim_schematic.pdf
quantile/*.eps
realdata/results/
realdata/top_edgeR_ola1_sum.pdf
realdata/top_edgeR_ola2_sum.pdf

