manuscript/pooled_error.aux
manuscript/pooled_error.bbl
manuscript/pooled_error.blg
manuscript/pooled_error.log
manuscript/pooled_error.out
manuscript/pooled_error.dvi
manuscript/suppmat.aux
manuscript/suppmat.log
manuscript/texput.log
manuscript/*.pdf

extrasim/blocked.eps
extrasim/oneway.eps

quantile/sim_schematic.pdf
quantile/*.eps
quantile/power/*.eps
quantile/power/*.rds

realdata/results/
realdata/top_edgeR_ola1_sum.pdf
realdata/top_edgeR_ola2_sum.pdf

variability/power/*.eps
variability/power/*.rds
variability/error/*.eps

